telegram:
  bot_token: "r"
  group_chat_id: -
  user_ids:
    - 1149801
    - 1576581
    - 106881

database:
  host: "localhost"
  port: 5432
  user: "postgres"
  password: "postgres"
  dbname: "telegram_forwarder"
  sslmode: "disable"

app:
  run_once: false
  log_level: "info"
  days_ahead: 5
  schedule_cron: "0 10 * * *"
